
body {
    background-color: #e3effb; 
}

#outer {
    display: inline-flex;
    height: 100%;
    width: 960px;
    margin: auto;
    position: absolute;
    top: 0; 
    left: 0;
    bottom: 0; 
    right: 0;
}

div {
    float: left;
    color: white;
    display: table;
}

.container {
    height: 768px;
    width: 960px;
    margin: 0 auto;
}

.content {
    float: none;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
